.h-100 {   background-image : url(/assets/images/2433830.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .centerbox {
    background: white;
    padding: 10px;
    border-radius: 10px;
  }
  button { width: 100%; }
  mat-form-field { width: 100%; }
  
  a{
      color: red;
      font-size: 1em;
  }
  .contentSpace{
      display: flex;
      justify-content: space-between;
  }